body{
  background-color: white;
}

p{
  font-size: 25px; color:#000000; font-variant: normal; text-align: center;
}

h1{
    font-size: 60px; color:#000000; font-variant: normal; text-align: center;
}

img{
  width: 50%;
   margin-left: 5%;
}

.logo{
  width: 15%;
margin-left: 0%;
}
.menu{
  text-decoration: none;
  list-style-type: none;
}
.cabeçalho{background-color: white;}
